/* Global properties ======================================================== */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,div,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,header {
	margin: 0 ;
	padding: 0 ;
	border: 0 ;
	font-size: 100% ;
	font: inherit ;
	vertical-align: baseline ;
}
/* HTML5 display-role reset for older browsers */
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "myriad-pro";
    src: url(../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF) format("truetype");
}
@font-face {
    font-family: "Rennie Beanie";
    src: url(../fonts/reenie/ReenieBeanie.ttf) format("truetype");
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html ,body{
    width:1340px;
    padding:0;
    margin:auto;
}

.header_studentdashboard {
    width:100%;
    margin:0 auto;
}


body {
    font: 14px/24px Tahoma, Geneva, sans-serif !important;
    width:1340px ;
    margin:auto !important;
    background: whitesmoke; 
    
}

.main-header {
    width:inherit;
    margin:auto !important;
    background:white ;   
    height:80px;
    overflow:hidden;
}

.logo_span
{
 background:white;   
}
.logo
{
    height:70px !important;
    transform: translateX(3%) translateY(5%);
}


.logo:hover
{
transition: ease-in-out all 0.3s;
-moz-transition: ease-in-out all 0.3s;
-webkit-transition: ease-in-out all 0.3s;
border-color: #d3c70c;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 40px rgba(126, 239, 104, 0.6);
outline: 0 none;
pointer:cursor;
}


#myContainerRight:last-child
{
-webkit-box-shadow: -20px 0 5px 5px #DEDEDE;
box-shadow: -20px 0 5px 5px #DEDEDE;
-moz-box-shadow: -20px 0 5px 5px #DEDEDE;

}
.pink_icon_nav
{
    background:#f8b9b7;
  vertical-align: middle !important;
    display:table-cell;
    background: #ce4848; /* Old browsers */
    background: -moz-linear-gradient(top,  #ce4848 0%, #ffbbb5 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce4848), color-stop(97%,#ffbbb5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ce4848 0%,#ffbbb5 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ce4848 0%,#ffbbb5 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ce4848 0%,#ffbbb5 97%); /* IE10+ */
    background: linear-gradient(to bottom,  #ce4848 0%,#ffbbb5 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce4848', endColorstr='#ffbbb5',GradientType=0 ); /* IE6-9 */
    opacity:0.7;
    transition:ease-in-out all 0.3s;
    -moz-transition:ease-in-out all 0.3s;
    -webkit-transition:ease-in-out all 0.3s;
     height:100%;

    
}


.blue_icon_nav
{
    background: #5bc0de;
    vertical-align: middle !important;
    display:table-cell;
    background: #446c99; /* Old browsers */
    background: -moz-linear-gradient(top,  #446c99 0%, #5093c9 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#446c99), color-stop(51%,#5093c9), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #446c99 0%,#5093c9 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #446c99 0%,#5093c9 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #446c99 0%,#5093c9 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #446c99 0%,#5093c9 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#446c99', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    opacity:0.7;
    height:100%;

}


.green_icon_nav > div , .blue_icon_nav > div , .pink_icon_nav >div , .grey_icon_nav >div 
{
  display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
    }
.green_icon_nav
{
    background:#bce8f1;
    background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
    opacity:0.7;
    vertical-align: middle !important;
    display:table-cell;
     height:100%;
}


.grey_icon_nav
{
    background:#555;
    vertical-align: middle !important;
    display:table-cell;
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
    opacity:0.7; 
   
}

.green_icon_nav:hover , .grey_icon_nav:hover , .blue_icon_nav:hover , .pink_icon_nav:hover
{
    opacity:1;
    transition:ease-in-out all 0.3s;
    -moz-transition:ease-in-out all 0.3s;
    -webkit-transition:ease-in-out all 0.3s;
    cursor:pointer;
 
}
    
#myContainerRight {
  width:400px;
  margin:auto;
  height:100%;
  display:inline-block;
}
 
#myContainerRight .pink_icon_nav, #myContainerRight .blue_icon_nav, #myContainerRight .green_icon_nav, #myContainerRight .grey_icon_nav  {
    width:25%;
    height:80px;    
    float:right;
    padding:0 !important;
    margin:auto !important;
    text-align: center;
    position: relative;
    
}
 
.navbar-images{
    vertical-align: middle !important;
    height:auto;
    max-height:70%;    
    
}

.navbar_img_desc
{
   	position: relative;
	top: 50%;
	transform:translateY(-50%);
        
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color: #FFFFFF;
        font-weight: 500;
	font-size: 90%;
	padding: 0px;
	text-shadow: 1px 1px 1px #34C702;
       
    display:inline-block;
     //   border:1px solid black;
     
    
}
.navbar-images-container{
    vertical-align: middle !important; 
    height:inherit;
    display:table-cell;
     margin: 0 auto;
}
#myContainerRight .pink_icon_nav img, #myContainerRight .blue_icon_nav img, #myContainerRight .green_icon_nav img , #myContainerRight .grey_icon_nav img  {
    height:50px !important;
  
    vertical-align:middle !important;
}

.pink_icon_nav:hover, .grey_icon_nav:hover ,.green_icon_nav:hover ,.blue_icon_nav:hover
{
    transition: linear all 0.3s;
    -moz-transition: linear all 0.3s;
    -webkit-transition: linear all 0.3s;
    
}
/*  FOOTER   */
#footer{
    height:100px;
    z-index:40000;
}

#center_footer{
    background:#000;
    height: 130px;
    width: 1340px;
    margin:0 auto;
}

#left_footer,#right_footer {
    width:450px;
    padding:20px;
    float:left;
}

#left_footer b{
    color:#fff;
}

#left_footer li{
    float:left;
    margin:0 20px;
}

#left_footer img{
    width:60px;
    height:60px;
}

#right_footer{
    float:right;
}

#right_footer a{ 
    color:#aaa;
    padding:0 10px;
    line-height: 21px;
    font-size: 13px;
    font-weight:bold;
}

#footer span{
    color:#ccc;
    font-size: 13px;
    margin-left: 150px;
}

.copyright
{
    text-align: center;
    margin-top: 10px;
}

/*  ADMIN CSS   */
.main_container_general
{
    width:1340px;
    margin: auto;
    height: auto;
}

.main_heading_general
{
    height: 40px;
    border: 1px ridge #dbc59e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #dbc59e;
    text-align: center;
}

.main_heading_general label
{
    font-size:24px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 600;
}

.mid_content_general
{
    background-color: #F1F1F1;
    min-height: 500px;
    width:1340px;
}

.right_nav_general
{
    float:right;
    background-color: #222222;
    margin-right: 40px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    margin-top: 4%;
}

#right_nav_general
{
    display: none;
}

#right_nav_general_anim
{
    display: block;
    margin-right: -40px;
}

.right_nav_anim
{
    float:right;
    background-color: #222222;
    width: 28px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    margin-top: 4%;
    height: 400px;
}

.right_nav_anim label
{
    margin-top: 205px;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Webkit */        
    -ms-transform:rotate(-90deg); /* IE */
    -o-transform:rotate(-90deg); /* Opera */
    transform:rotate(-90deg); /* future */
}

.right_nav_anim label:hover
{
    cursor: pointer;
}

#right_nav_general_anim:hover
{
    cursor: pointer;
}

.nav_element
{
    background-color: #222222;
    width:120px;
    height: 60px;
    text-align: center;
    border: 1px solid #343434;
    display:table;
    padding:40px;
}

.nav_element_bottom
{
    background-color: #222222;
    width:120px;
    height: 60px;
    text-align: center;
    border: 1px solid #343434;
    display:table;
    padding:40px;
    border-bottom-left-radius: 90px;
}

.nav_element_default
{
    background-color: #343434;
    width:120px;
    height: 60px;
    text-align: center;
    border: 1px solid;
    display:table;
    padding:40px;
    border-top-left-radius: 90px;
}

.nav_element label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 18px;
    color:#FBF9FB;
    font-weight: 600;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav_element_bottom label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 18px;
    font-weight: 600;
    color:#FBF9FB;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav_element_default label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 18px;
    font-weight: 600;
    color: #7C8389;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav_element:hover
{
    cursor: pointer;
    background-color: #343434;
    color: #7C8389;
    border: 1px solid;
}

.nav_element_bottom:hover
{
    cursor: pointer;
    background-color: #343434;
    color: #7C8389;
    border: 1px solid;
}


.nav_element:hover label
{
    cursor: pointer;
    background-color: #343434;
    color: #7C8389;
}


.nav_element_bottom:hover label
{
    cursor: pointer;
    background-color: #343434;
    color: #7C8389;
}

.nav_element_default:hover
{
    cursor: pointer;
}

.nav_element_default:hover label
{
    cursor: pointer;
}

.top_tabs_general
{
    background-color: #F1F1F1;
    width:500px;
    margin: auto;
    padding-top: 20px;
}

.top_tabs_element
{
    display: table-cell;
}

.top_tabs_inside
{
    width: 160px;
    text-align: center;
    border: 1px solid #343434;
    display:table;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFF;
    margin-left: 5px;
}

.top_tabs_element_default
{
    display: table-cell;
}

.top_tabs_inside_default
{
    width: 160px;
    text-align: center;
    border: 1px solid #343434;
    display:table;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #E6E6E6;
    margin-left: 5px;
}


.top_tabs_inside label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 14px;
    color:#343434;
    font-weight: 600;
}

.top_tabs_inside_default label
{
    display: table-cell;
    vertical-align:middle; 
    font-size: 14px;
    color:#343434;
    font-weight: 600;
}

.top_tabs_inside:hover
{
    background-color: #E6E6E6;
}

.top_tabs_inside label:hover
{
    cursor: pointer;
}

.top_tabs_inside_default label:hover
{
    cursor: pointer;
}

.mid_forms_general
{
    margin: auto;
    width:600px;
    background-color: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-top: 15px;
    border: 1px dotted gray;
    margin-top: 35px;
}

.mid_forms_body
{
    margin-left: 30px;
}

.forms_heading
{
    text-align: left;
}

.forms_heading label
{
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
}

div.fieldgroup
{
  text-align:left;
}

.fieldgroup input
{
  margin-left:5px;
  width:240px;
        margin-top: 13px;
}

.fieldgroup select
{
  margin-left:5px;
  width:253px;
        margin-top: 13px;
}

.fieldgroup input[type="submit"]
{
    color:white;
    background-color: #7C8389;
    width: auto;
    height: 30px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-top: 17px;
    border: #bbbbbb ridge medium;
    font-size: 16px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.fieldgroup input[type="submit"]:hover
{
    cursor: pointer;
    color:#212121;
    background-color: #E6E6E6;
    -webkit-box-shadow:0 0 8px #555555; 
    -moz-box-shadow: 0 0 8px #555555;  
    box-shadow:0 0 8px #555555;
}

.inputField
{
    text-align: right;
    color: #333333;
    padding: 10px 0px 3px 25px;
    right:100px;
    font-family: Arial,sans-serif;
    font-size: 100%;
    color: #333;
    font-weight: bold;
    height:20px;
    width: 200px;
}

#add_student
{
    display: block;
}

#edit_student
{
    display: none;
}

#search_general
{
    display: none;
}

#delete_student
{
    display: none;
}


.team{
    display:inline-table;
}

#team-info {
    
  margin:0;
  padding:0;
  font-family:"Rennie Beanie";
  font-size:150%;
  text-align:center;
  //background:#a2a2a2;
  /*    background:#BDBDBD;*/
 
}

#team-info h2,p{
  font-size:120%;
  font-weight:normal;
   color:#333333;
   font-weight:800;
}
#team-info ul,li{
  list-style:none;
  
}
#team-info ul{
  overflow:hidden; 
  padding-top:2em;
     display: inline-block;
    margin:auto;
width:100%;
//padding-left:10%

}
#team-info ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc ;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}
#team-info ul li{
 transition:ease-in-out all 0.7s;
  -moz-transition:ease-in-out all 0.7s;
  -webkit-transition:ease-in-out all 0.7s;
  display:inline-block;
}

#team-info ul li:nth-child(odd) a{
 
  position:relative;
  top:5px;
       -o-transform:rotate(15deg);
      -webkit-transform:rotate(15deg);
      -moz-transform:rotate(15deg);
 
}
#team-info ul li:nth-child(3n) a{
  -o-transform:rotate(-8deg);
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  position:relative;
  top:-5px;
 
  margin:2em;
  z-index:500;
   -o-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);

}
#team-info ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
   margin:1em;

}
    


#team-info ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
  
  transition:ease-in-out all 0.7s;
  -moz-transition:ease-in-out all 0.7s;
  -webkit-transition:ease-in-out all 0.7s;
}

.top-border{
    border-top:1px solid #aaa;
}

.bottom-border{
    border-bottom:1px solid #aaa;
}

.homepage-headers
{
    //color:#E6E6E6;
    font-family: consolas, monaco, "Lucida Console", monospace;
    color: #FFFFFF;
    font-size: 50px;
    padding: 8px;
    margin-left:10% ;
    font-weight: bold;
    text-shadow: 1px 1px 1px #211919;
    text-align: left;
   // margin-left:5%;
    background: inherit;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    
}

.gif-headers
{
  
  height:inherit;
  width:10%;
    vertical-align: middle !important;
}


#intro
{
    /*background:#E8E8E8;*/
}

#features
{
    /*background:#D1D1D1;*/
    
}

.features_thumbnail
{
    height:80px;
    width:80px;
}

.intro_thumbnail
{
    height:80px;
    width:80px;
}

.team_thumbnail{
    height:50px;
    width:80px;
}



.portfolio_pic
{
    height:200px;
    width:200px
}


.outline-bottom-glow
{
    outline: none;
    border-bottom-color: #5CB811;
    box-shadow: 0 0 10px #5CB811;
    -webkit-box-shadow: 0 0 10px #5CB811;
    -moz-box-shadow: 0 0 10px #5CB811;
}

.outline-top-glow
{
    outline: none;
    border-bottom-color: #5CB811;
    box-shadow: 0 0 10px #5CB811;
    -webkit-box-shadow: 0 0 10px #5CB811;
    -moz-box-shadow: 0 0 10px #5CB811;
}


.intro_text_container
{
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: white dashed 5px;
    width:50%;
    display:inline-block;
    margin:auto;
}

.intro_text{
    color:#91e842;
    font-family: Papyrus, fantasy;
    text-align:justify;
    font-size: 24px;
    padding: 34px;
    word-spacing: 12px;
    text-shadow: 1px 1px 1px rgba(130, 112, 112, 0.7);
}
.div_center
{
    display:inline-block;
    margin:auto;
}

.fullwidth
{
    width:100%;
}

.text_center
{
    text-align:center;
}

#features_list {
  margin-left: 10%;
}
 
#features_list ul {
  list-style-type: none;
  width: 60%;
  text-align:left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #efefef;
}
 
#features_list h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  color:White;
}
 
#features_list li img {
   // float: left;
  margin: 0 15px 0 0;
}
 
#features_list li p {
   font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
   color:#c09853;
}
 
#features_list li {
  padding: 10px;
  overflow: auto;
  transition :ease all 0.5s;
  -moz-transition :ease all 0.5s;
  -webkit-transition :ease all 0.5s;
 
}

#features_list li div
{
    display:inline-block;
    vertical-align: top;
}
 
#features_list li:hover {
  background: #D1D1D1;
  cursor: pointer;
  transition :ease all 0.5s;
  -moz-transition :ease all 0.5s;
  -webkit-transition :ease all 0.5s;
}

.inline_div
{
    display:inline-table !important;
}

#features_list li
{   
    border-bottom:1px solid #D1D1D1;
}


#homepage-content{
    background:#E8E8E8;
}