body {
font-weight: 300;
font-family: 'Ideal Sans SSm A','Ideal Sans SSm B',sans-serif;
font-size: 15px;
line-height: 20px;
color: #33393d;
margin: 0;
/*background: #76D042;
 background-size: cover;*/
 
background: #d2ff52; /* Old browsers */
background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */



}
.login-page-container {

}

.login-page-container #login-box-wrapper {
margin:   0px auto;
width: 380px;
height: 610px;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
margin: auto;
}
.login-page-container #login-box-wrapper .logo {
background-image: url(../images/gLearnWhite.png);
background-size: 300px 80px;
width: 300px;
height: 80px;
margin: auto;
}
.login-page-container #login-box-wrapper .welcome {
font-family: "Comic Sans MS", cursive, sans-serif;
color: #fff;
font-size: 24px;
line-height: 30px;

}

.login-page-container #login-box-wrapper form {
position: relative;
margin: 0 0 20px;
}
.form-field {
margin-bottom: 10px;
}
.login-page-container #login-box-wrapper input {
width: 385px;
padding: 30px 15px;
margin: 0;
font-size: 18px;
color: #fff;
background-color: #9b9b97;
background-color: rgba(0,0,0,.15);
outline: 0;
border: 0;
font-family: 'Ideal Sans SSm A','Ideal Sans SSm B',sans-serif;
}
.login-page-container #login-box-wrapper input:focus {
/*Glow*/
-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
}

::-webkit-input-placeholder {
   color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff !important;
}

:-ms-input-placeholder {  
 color: #fff !important;
}

.login-page-container #login-box-wrapper .login-links {
margin-top: 55px;
margin-left: 14px;
font-family: "Comic Sans MS", cursive, sans-serif;
color: #fff;
font-size: 16px;
white-space: nowrap;
position: absolute;

}

.login-links a:hover
{
    text-decoration: underline !important;
    color: #5CB811 !important;
}

.login-page-container #login-box-wrapper .login-links a {
margin-left: 5px;
color: #fff;
text-decoration: none;
}

.login-page-container .form-field  button {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
color: #fff;
width: 385px;
padding: 25px 0 15px;
margin-top: 10px;
text-align: center;
font-family: 'Ideal Sans SSm A','Ideal Sans SSm B',sans-serif;
font-size: 24px;
line-height: 34px;
outline: 0;
border: 2px solid #223750;
background-color: #306BA5;
background-image: -webkit-gradient(linear,left top,left bottom,from(#315986),to(#306BA5));
background-image: -webkit-linear-gradient(top,#315986,#306BA5);
background-image: -moz-linear-gradient(top,#315986,#306BA5);
background-image: -o-linear-gradient(top,#315986,#306BA5);
background-image: -ms-linear-gradient(top,#315986,#306BA5);
background-image: linear-gradient(top,#315986,#306BA5);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#315986', EndColorStr='#306BA5');
font-weight: 400;
cursor: pointer;

}
.login-page-container .form-field button:hover {
   /*Glow*/
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
}

.tool-tip-right-container
{

padding: 0;
margin: 0px auto;
width: 240px;
height: 200px;
position: absolute;
top: -120; left: 630; bottom: 0; right: 0;
margin: auto;

}

.tool-tip-right
{
    display:block;
    overflow:hidden;
    position:relative; 
}


.tool-tip-right span
{
    font-size:14px;
    font-family:Verdana, Geneva, sans-serif;
    color:whitesmoke;
    position: absolute;
    right: 10px;
    top: 10px;
    margin-left: 22px;
    margin-top: 4px;
}

.tool-tip-right-bottom-container
{
padding: 0;
margin: 0px auto;
width: 240px;
height: 200px;
position: absolute;
top: 60; left: 630; bottom: 0; right: 0;
margin: auto;

}

.tool-tip-right-bottom
{
    display:block;
    overflow:hidden;
    position:relative; 
}


.tool-tip-right-bottom span
{
    font-size:14px;
    color:whitesmoke;
    font-family:Verdana, Geneva, sans-serif;
    position: absolute;
    right: 10px;
    top: 10px;
    margin-left: 22px;
    margin-top: 4px;
}
.tip-button button{
  display:block;
    margin: 0 auto;

    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
color: #fff;
width: 100px;

margin-top: 10px;
text-align: center;
font-family: 'Ideal Sans SSm A','Ideal Sans SSm B',sans-serif;
font-size: 24px;
line-height: 34px;
outline: 0;
border: 2px solid #223750;
background-color: #F05133;
background-image: -webkit-gradient(linear,left top,left bottom,from(#F05133),to(#F05133));
background-image: -webkit-linear-gradient(top,#F05133,#F05133);
background-image: -moz-linear-gradient(top,#F05133,#F05133);
background-image: -o-linear-gradient(top,#F05133,#F05133);
background-image: -ms-linear-gradient(top,#F05133,#F05133);
background-image: linear-gradient(top,#F05133,#F05133);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#315986', EndColorStr='#306BA5');
font-weight: 400;
cursor: pointer;
}

.tip-button button:hover {
/*Glow*/
-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
box-shadow: 0px 0px 20px rgba(255,255,255,0.8); 
}

.box_glow
{
    -webkit-box-shadow:0 0 20px #f2dede; 
    -moz-box-shadow: 0 0 20px #f2dede;  
    box-shadow:0 0 20px #f2dede;
}

#tool-tip-right-container
{
    display: none;
}

#tool-tip-right-bottom-container
{
    display: none;
}