@font-face {
    font-family: "Montserrat";
    src: url(../fonts/montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "myriad-pro";
    src: url(../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF) format("truetype");
}

.student_dashboard_body{
    width:100%;
    height:auto;
    margin:auto;
}

.student_dashboard_tips{
    background-color: #CCEFE1;
    width:100%;
    height:auto;
    padding-top:15px;
    padding-bottom:15px;
}

.student_dashboard_tips label{
    text-align: center;
    font-size: 30px;
    color: black;
}

.student_dashboard_video{
    text-align: center;
    margin: auto;
}

.fixed_buttons
{
    width:200px;
    height: 200px;
    margin: auto;
    padding: 0;
}

.left_fixed_button
{
    display:block;
    overflow:hidden;
    position:absolute; 
    top:425px;
    left:50px;
    z-index:20000;
    cursor: pointer;
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: #bbbbbb ridge medium;
    -webkit-box-shadow:0 0 20px #0088cc; 
    -moz-box-shadow: 0 0 20px #0088cc;  
    box-shadow:0 0 20px #0088cc;
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.left_fixed_button:hover label{
    color:white;
}

.left_fixed_button:hover
{
    -webkit-box-shadow:0 0 20px cornsilk; 
    -moz-box-shadow: 0 0 20px cornsilk;  
    box-shadow:0 0 20px cornsilk;
}

.left_fixed_button label
{
    font-size:32px;
    color:#d3c70c;
    margin-top: -25%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.right_fixed_button
{
    display:block;
    overflow:hidden;
    position:absolute; 
    top:425px;
    left:1085px;
    z-index:20000;
    cursor: pointer;
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: #bbbbbb ridge medium;
    -webkit-box-shadow:0 0 20px #0088cc; 
    -moz-box-shadow: 0 0 20px #0088cc;  
    box-shadow:0 0 20px #0088cc;
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.right_fixed_button:hover
{
    -webkit-box-shadow:0 0 20px cornsilk; 
    -moz-box-shadow: 0 0 20px cornsilk;  
    box-shadow:0 0 20px cornsilk;
}

.right_fixed_button label
{
    font-size:32px;
    color:#d3c70c;
margin-top: -25%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.mid-content{
    background-color: #68CAB6;
}

.right_fixed_button:hover label{
    color:white;
}

.right_fixed_button:hover
{
    -webkit-box-shadow:0 0 20px cornsilk; 
    -moz-box-shadow: 0 0 20px cornsilk;  
    box-shadow:0 0 20px cornsilk;
}


/* DRILLS PAGE CSS */
.drills-content{
    background-color: #1E2935;
    width: auto;
}

.leftpane
{
    width:230px;
    height:400px;
    padding:20px;
    float: left;
    margin-left: 100px;
    margin-top: -2px;
}

.topicsbox{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow:0 0 20px #FFFFFF; 
    -moz-box-shadow: 0 0 20px #FFFFFF;  
    box-shadow:0 0 20px #FFFFFF;
    background-color: #FFFFFF;
    padding:20px;
    font-size:18px;
    color:#444444;
    margin-top: 10px;
}

.topicsbox input[type="radio"]
{
    margin-bottom: 5px;
}

.topicsBoxLabel
{
    border-bottom: 1px solid #efefef;
    margin-bottom: 8px;
}

.topicsbox label
{
    font-size: 22px;
    color:#595959;
    margin-bottom: 5px;
    font-weight: 600;
    font-family:  Montserrat;
}

#radioButtons span
{
    font-size: 18px;
    color:#595959;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-family:  myriad-pro;
}

.rightpane
{
    padding-top:1px;
    padding-bottom:21px;
    padding-left:370px;
    width:820px;
    
}

.rightpane label
{
    font-size: 28px;
    color:white;
}

.gamebox{
    font-size:18px;
    color:#444444;
    margin-top: 5px;
    min-height: 500px;
}

.goback_fixed_button img
{
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.goback_fixed_button
{
    width:220px;
    height:75px;
    margin: auto;
    float: left;
    margin-left: 120px;
    margin-top: -30%;
    cursor: pointer;
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: #bbbbbb ridge medium;
    -webkit-box-shadow:0 0 8px #FFFFFF; 
    -moz-box-shadow: 0 0 8px #FFFFFF;  
    box-shadow:0 0 8px #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.goback_fixed_button:hover
{
    -webkit-box-shadow:0 0 20px cornsilk; 
    -moz-box-shadow: 0 0 20px cornsilk;  
    box-shadow:0 0 20px cornsilk;
}

.game_row img
{
    width:820px;
    height:210px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: #bbbbbb ridge medium;
    margin-top: 20px;
}

.game_row_labels
{
    width:825px;
    background-color: #FFFFFF;
    height: 50px;
    margin-top: -7px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: .75em;
    text-align: center;
}

.game_row_labels label
{
    font-size: 1.2em;
    color:#595959;
    font-weight: 700;
    font-family: Montserrat;
}

.game_row_labels_description{
    font-size:12px !important;
    color:#595959;
    font-weight: 700;
    font-family: Montserrat;
    margin-top:-2px;
}